<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <!-- Bootstrap script -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

  <!-- JavaScript script (d3.js and plotly.js) -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.5.0/d3.min.js"></script>
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>

  <title>Robert Frost Poetry</title>

</head>
<body>
  <!-- Intro Section -->
  <section id = "hero" class = "hero">
    <div class = "jumbotron">
      <div class = "container">
        <div class = "col-md-12">
            <h1>{{ title }}</h1>
        </div>
      </div>
    </div>
  </section>
  <!-- Why Robert Frost? -->
  <div class = "container">
    <div class = "row">
      <div class = "col-md-2"></div>
      <div class = "col-md-8">
          <h3>Why Robert Frost?</h3>
          <p><i>Poetry begins in trivial metaphors, pretty metaphors, ‘grace’ metaphors, and goes on to the profoundest thinking that we have. Poetry provides the one permissible way of saying one thing and meaning another. ... Unless you are at home in the metaphor, unless you have had your proper poetical education in the metaphor, you are not safe anywhere.</i></p>
          <p align = "right">–Robert Frost, <i>Education by Poetry</i> (1931)</p>
          <br>
          <p>Robert Frost is my favourite poet. I first encountered his work when I was in high school, thanks to my Western literature professor. The poem <i>Stopping by Woods on a Snowy Evening</i> particularly made a mark... I can still recite its first few lines, thanks to its structure: Frost wrote this poem in iambic tetrameter, giving it a distinctive cadence that easily sticks to mind.</p>
          <p>Aside from his use of vivid imagery, what I noticed was the consistency of his themes. He wrote about forests and about precipitation, implying some notes of desolation or sadness. Note, however, that I have read only a portion of his works. </p>
          <p>I would like to learn more about his poems. In this project, I applied Natural Language Processing to classify his work according to sentiment and topic, and to measure the importance of his words. I limit myself to patterns based on the words he used, not on the figurative meaning of the poems.</p>
      </div>
    </div>
  </div>      
  <hr>
  <!-- Natural Language Processing -->
  <div class = "container">
      <div class = "row">
        <div class = "col-md-2"></div>
        <div class = "col-md-8">
          <h3>What I did</h3>
          <p>Hello!</p>
        </div>
      </div>
  </div>
  <hr>
  <!-- Interactive Table for Metadata -->
  <div class = "container">
    <div class = "row">
        <h3>The poetry of Robert Frost</h3>
        <label>More information about&nbsp;&nbsp;&nbsp;&nbsp;</label> <!-- add space between text and option box -->
        <select id = "poem">
          <option id = "choices">Pick a poem.</option>
        </select>
        <br>
        <br>
    </div>   
    <div class = "row"></div> 
      <!-- Insert table -->
      <div class = "col-md-4" id = "selection_section">
          <h4>Metadata</h4>
        <table id = "poem_metadata">
          <thead>
            <tr>
              <th></th>
              <th>Details</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class = "category">Publication Year</td>
              <td class = "value" id = "publication_year"></td>
            </tr>
            <tr>
              <td class = "category">Number of Words</td>
              <td class = "value" id = "poem_length"></td>
            </tr>
            <tr>
              <td class = "category">Lexical Diversity</td>
              <td class = "value" id = "lex_div"></td>
            </tr>
            <tr>
              <td class = "category">Sentiment <span class = "footnote">(1)</span></td>
              <td class = "value" id = "sentiment"></td>
            </tr>
          </tbody>
          <tbody>
            <tr>
              <td colspan = "2">
                <br>
                <p class = "footnotes">
                  <span class = "footnotesTitle">Footnote:</span>
                  <br>
                  (1) The sentiment noted here is predicted using TextBlob, a Python library used for natural language processing. This library is capable of predicting sentiment from unstructured data.
                </p>
              </td>
            </tr>
          </tbody>
        </table>
        
      </div>
      <!-- Insert poem lines -->
      <div class = "col-md-4">
        <h4 id = "title"></h4>
        <div class = "poem_text">
          <p id = "lines"><i></i></p>
        </div>
      </div>
      <!-- Insert graph of mportant Words -->
      <div class = "col-md-4">
        <div id = "bar"></div>
      </div>
    </div>
  </div>
  <hr>  
  <!-- Network image -->
  <div class = "container">
    <div class = "row">
      <h3>Network of most important words</h3>
      <p>Network analysis indicates that there are 11 important words among the 37 Frost poems.</p>
      <img src = "static/images/poemTFIDF_network.png" alt = "TFIDF network image">
    </div>
  </div>
    
  <!-- More JavaScript and CSS script -->
  <script src="{{ url_for('static', filename='js/app.js') }}"></script>
  
</body>

</html>