<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!-- Bootstrap script -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

  <title>Robert Frost Poetry</title>

</head>
<body>
  <!-- Intro Section -->
  <section id = "hero" class = "hero">
    <div class = "jumbotron">
      <div class = "container">
        <div class = "col-md-12">
            <h1>{{ title }}</h1>
        </div>
        <p>Robert Frost is my favourite poet. I first encountered his work when I was in high school, thanks to my Western literature professor. The poem <i>Stopping by Woods on a Snowy Evening</i> particularly made a mark... I can still recite its first few lines, thanks to its structure: Frost wrote this poem in iambic tetrameter, giving it a distinctive cadence that easily sticks to mind.</p>
        <p>Aside from his use of vivid imagery, what I noticed was the consistency of his themes. He wrote about forests and about precipitation, implying some notes of desolation or sadness. Note, however, that I have read only a portion of his works. </p>
        <p>I would like to learn more about his poems. In this project, I used Natural Language Processing to classify his work according to topics. I limit myself to patterns based on the words he used, not on the figurative meaning of the poems.</p>
      </div>
    </div>
  </section>
  <!-- Important Words -->
  <section>

  </section>

  <!-- Topic Modelling -->

  <hr>    
  <!-- More JavaScript and CSS script -->
  <script src="{{ url_for('static', filename='js/app.js') }}"></script>
  
</body>

</html>